.footerWrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.copyrightText {
  margin: 0;
  font-size: 0.875rem;
  font-weight: 400;
  letter-spacing: 0.5px;
}